.metadata/.lock
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/80/00e59e130667001013cbba5ab36612bb
.metadata/.plugins/org.eclipse.core.resources/.history/8d/606ddafe0567001013cbba5ab36612bb
.metadata/.plugins/org.eclipse.core.resources/.history/8e/00f71dab0567001013cbba5ab36612bb
.metadata/.plugins/org.eclipse.core.resources/.history/a1/80391d350567001013cbba5ab36612bb
.metadata/.plugins/org.eclipse.core.resources/.history/ca/c06cb4440467001013cbba5ab36612bb
.metadata/.plugins/org.eclipse.core.resources/.history/fa/8027f0420467001013cbba5ab36612bb
.metadata/.plugins/org.eclipse.core.resources/.history/fe/50916b100467001013cbba5ab36612bb
.metadata/.plugins/org.eclipse.core.resources/.projects/comparisonModule/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/comparisonModule/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/comparisonModule/org.eclipse.dltk.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.core.index.sql.h2.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/stringCompare.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.dltk.core.index.sql.h2/model.1.log.db
.metadata/.plugins/org.eclipse.dltk.core.index.sql.h2/model.data.db
.metadata/.plugins/org.eclipse.dltk.core.index.sql.h2/model.index.db
.metadata/.plugins/org.eclipse.dltk.core.index.sql.h2/model.trace.db
.metadata/.plugins/org.eclipse.dltk.core/Containers.dat
.metadata/.plugins/org.eclipse.dltk.core/customTimeStamps
.metadata/.plugins/org.eclipse.dltk.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.dltk.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.dltk.ui/OpenTypeHistoryorg_eclipse_php_core_PHPNature.xml
.metadata/.plugins/org.eclipse.dltk.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload0.csv
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/PDO.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/Reflection.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/SPL.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/SQLite.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/SimpleXML.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/basic.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/bcmath.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/bz2.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/calendar.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/com_dotnet.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/ctype.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/curl.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/date.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/dom.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/exif.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/filter.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/ftp.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/gd.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/gettext.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/hash.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/ibm_db2.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/iconv.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/imagick.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/imap.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/intl.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/json.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/ldap.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/libxml.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mbstring.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mcrypt.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mhash.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mime_magic.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mssql.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mysql.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/mysqli.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/oci8.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/odbc.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/openssl.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/pcre.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/pdo_mysql.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/pdo_pgsql.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/pdo_sqlite.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/pgsql.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/posix.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/session.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/soap.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/sockets.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/standard.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/tidy.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/tokenizer.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/wddx.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/xml.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/xmlreader.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/xmlwriter.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/xsl.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/zip.php
.metadata/.plugins/org.eclipse.php.core/__language__/3e4b2201/zlib.php
.metadata/.plugins/org.eclipse.php.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.php.ui/pdt-images/0.png
.metadata/.plugins/org.eclipse.php.ui/pdt-images/1.png
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pterodactyl-238_0/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pterodactyl-238_0/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pterodactyl-238_0/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/version.ini
.metadata/.lock
comparisonModuleJava/.metadata/.lock
comparisonModuleJava/.metadata/.log
comparisonModuleJava/.metadata/.mylyn/.tasks.xml.zip
comparisonModuleJava/.metadata/.mylyn/repositories.xml.zip
comparisonModuleJava/.metadata/.mylyn/tasks.xml.zip
comparisonModuleJava/.metadata/.plugins/com.google.appengine.eclipse.core/appengine-sdk-proxy.jar
comparisonModuleJava/.metadata/.plugins/com.google.gwt.eclipse.core/uiBinderReferences
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/2/50741abbcb6700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/20/d046aece5d6800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/2a/90f9f5695d6800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/2b/b094a220cc6700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/4c/40933e54596800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/50/006e7d085d6800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/5b/60e0fab3cb6700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/5e/80005e06496800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/62/40e3ed87586800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/66/108b6e84596800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/68/800108fccb6700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/68/f0c78cb35d6800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/69/60c528785d6800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/75/e0483027cc6700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/76/f0c39227bb6700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/86/e0feae29586800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/8e/404664ff576800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/8e/a0d05a87cc6700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/8e/e0868795596800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/91/208c7886ba6700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/94/709b3551c96700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/a2/505ceb24586800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/a8/e0fd1c73bb6700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/ae/b069600b5d6800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/bb/007b575b5a6800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/bb/804c981ccb6700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/bc/b02d4ddfba6700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/be/2005ac81586800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/c2/c092472f5a6800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/d7/70e624e75c6800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/df/b0e9cc3ac96700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/e0/d0c801edba6700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/e0/e0c07550586800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/ef/e0c63e4d5a6800101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.history/fc/00759610cc6700101ce7b7259f74781b
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.projects/Joiner/.indexes/af/history.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.projects/Joiner/.markers.snap
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.projects/Joiner/.syncinfo.snap
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.resources/.snap
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.google.appengine.eclipse.core.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.google.gdt.eclipse.suite.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.google.gwt.eclipse.core.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/net.sourceforge.phpeclipse.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
comparisonModuleJava/.metadata/.plugins/org.eclipse.debug.core/.launches/Joiner.launch
comparisonModuleJava/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
comparisonModuleJava/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload0.csv
comparisonModuleJava/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload1.csv
comparisonModuleJava/.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/1081876063.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/1384487945.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/156905802.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/1819685514.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/1833648217.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/2286151582.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/2326659272.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/2545238116.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/272178059.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/3000285004.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/3004609673.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/3017707212.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/3193056747.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/3266567714.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/3302703152.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/3321539481.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/3712507179.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/3954040986.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/4238209716.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/4249315662.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/450555687.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/632003931.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/765977872.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/770573466.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/84777399.index
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
comparisonModuleJava/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
comparisonModuleJava/.metadata/.plugins/org.eclipse.team.cvs.core/.running
comparisonModuleJava/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
comparisonModuleJava/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
comparisonModuleJava/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
comparisonModuleJava/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
comparisonModuleJava/.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
comparisonModuleJava/.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
comparisonModuleJava/.metadata/.plugins/org.maven.ide.eclipse/nexus/0b4d56d728b5591804e76de741894b70/_0.cfs
comparisonModuleJava/.metadata/.plugins/org.maven.ide.eclipse/nexus/0b4d56d728b5591804e76de741894b70/segments.gen
comparisonModuleJava/.metadata/.plugins/org.maven.ide.eclipse/nexus/0b4d56d728b5591804e76de741894b70/segments_3
comparisonModuleJava/.metadata/.plugins/org.maven.ide.eclipse/nexus/0b4d56d728b5591804e76de741894b70/write.lock
comparisonModuleJava/.metadata/.plugins/org.maven.ide.eclipse/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
comparisonModuleJava/.metadata/.plugins/org.maven.ide.eclipse/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
comparisonModuleJava/.metadata/.plugins/org.maven.ide.eclipse/nexus/830bc118332e77292949ed1e6d2fabe0/segments_3
comparisonModuleJava/.metadata/.plugins/org.maven.ide.eclipse/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
comparisonModuleJava/.metadata/.plugins/org.maven.ide.eclipse/nexus/d9d714e11cb097b3ffcec91cccc65d3e/_0.cfs
comparisonModuleJava/.metadata/.plugins/org.maven.ide.eclipse/nexus/d9d714e11cb097b3ffcec91cccc65d3e/segments.gen
comparisonModuleJava/.metadata/.plugins/org.maven.ide.eclipse/nexus/d9d714e11cb097b3ffcec91cccc65d3e/segments_3
comparisonModuleJava/.metadata/.plugins/org.maven.ide.eclipse/nexus/d9d714e11cb097b3ffcec91cccc65d3e/write.lock
comparisonModuleJava/.metadata/.plugins/org.maven.ide.eclipse/workspaceState.ser
comparisonModuleJava/.metadata/.plugins/org.python.pydev/ping.log
comparisonModuleJava/.metadata/version.ini
