body {
	
}

div#background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	margin: 25px;
	min-width: 807px;
	min-height: 328px;
	background-image: url('../doc/splash-screen.png');
	background-repeat: no-repeat;
}

div#main {
	position: absolute;
	top: 340px;
	margin: 10px;
}

div#title {
	position: absolute;
	margin: 0;
	padding-left: 10px;
	width: 100%;
	font-size: 3.2em;
	font-family: "Times New Roman", Times, serif;
	background-color: #EEEEEE;
	box-shadow: 0 0 5px #333333;
	-webkit-box-shadow: 0 0 5px #333333; /* Safari */
	
}

div#machineBackground {
	background-color: white;
	opacity: .9;
	position: absolute;
	width: 575px;
	height: 250px;
	top: 65px;
	left: 125px;
	padding: 10px 0 0 75px;
}

div#machine {
	
}

div.currentOption {
	border-bottom: 1px solid black;
}

#machine div.label {
	margin: 2px;
	/*border: 1px dotted red;*/
	padding: 2px;
	width: 80%;
	font-size: 1.7em;
}

#machine div.option {
	margin: 2px;
	/*border: 1px dotted red;*/
	padding: 2px;
	vertical-align: center;
	
}

#machine div.choice {
	float: left;
	margin: 2px;
	/*border: 1px dotted red;*/
	padding: 2px;
}